<ion-header [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="fondo">

  <div class="centrado">
    <h3 class="texto-centrado texto-responsivo">Registro asistencia DUOC UC</h3>
    <h4 class="texto-centrado texto-responsivo">Cambio de contraseña</h4>
    <br>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input  label="Contraseña Actual" type="password" labelPlacement="floating" [(ngModel)]="mdl_actual"></ion-input>
    </ion-item>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Contraseña Nueva" type="password" labelPlacement="floating" [(ngModel)]="mdl_nueva"></ion-input>
    </ion-item>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Confirmar Contraseña" type="password" labelPlacement="floating" [(ngModel)]="mdl_confirmacion"></ion-input>
    </ion-item>
  
    <ion-button (click)="cambiarContrasena()" shape="round" expand="block" class="ion-margin-top boton barra"> Cambiar Contraseña </ion-button>
    <ion-button (click)="volver()" shape="round" expand="block" class="ion-margin-top boton barra"> Volver </ion-button>

    <ion-item *ngIf="v_visible" color="warning" class="ion-margin-top ion-text-center">
      <ion-label> <strong>{{ v_mensaje }} </strong> </ion-label>
    </ion-item>
  </div>
</ion-content>
