<ion-header [translucent]="true">
  <ion-toolbar class="transparent-toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="fondo">

  <div class="centrado">
    <h3 class="texto-centrado texto-responsivo">Registro asistencia DUOC UC</h3>
    <h4 class="texto-centrado texto-responsivo">¿Olvidaste tu contraseña?</h4>
    <br>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input  label="Contraseña nueva" type="password" labelPlacement="floating" [(ngModel)]="mdl_contrasena_nueva_1"></ion-input>
    </ion-item>
    <ion-item class="fondo input ion-margin-top" lines="none">
      <ion-input label="Repita Contraseña" type="password" labelPlacement="floating" [(ngModel)]="mdl_contrasena_nueva_2"></ion-input>
    </ion-item>
  
    <ion-button (click)="contrasena_cambiada()" shape="round" expand="block" class="ion-margin-top boton barra"> Restablecer </ion-button>
    <ion-button (click)="volver()" shape="round" expand="block" class="ion-margin-top boton barra"> Volver </ion-button>
  </div>
</ion-content>
