/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.fondo {
    --background: #394b6e;
    --color: #ffffff;
    
}

.barra {
    --background: linear-gradient(90deg, #7a4795 0%, #6599cc 91%);
    --color: #FFFFFF;

}


.centrado {
    margin-top: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    height: 55px;
}

.restablecer{
    --color: #ffffff;    
}

.texto-centrado {
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center;
    
  }

  .transparent-toolbar {
    --background: transparent;
    --border-color: transparent;
    
  }

  .custom-label {
    color: #ffffff !important; 
  }

  .texto-responsivo {
    font-size: 1.5em;
  }
  
  @media (min-width: 768px) {
    .texto-responsivo {
      font-size: 2em;
    }
  }
  
  @media (min-width: 1024px) {
    .texto-responsivo {
      font-size: 2.5em;
    }
  }